body {
  background-color: lavender;
}

#menu{
  border: 1px solid black;
  width: 100px;
  background-color: white;
  text-align: center;
  display: grid;
}

.drop-menu{
  background-color: white;
  border: 1px solid black;
}

#item-container{
  background-color: white;
  width: 100px;
  text-align: center;
  border: 1px solid black;
}

#items{
  display: grid;
  gap: 5px;
}

.item:hover{
  background-color: rgb(173, 173, 173);
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

/* ---------- Carousel ---------- */

#carousel-container{
  border: 3px solid black;
  width: auto;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#frame{
  /* border: 3px solid black; */
  width: auto;
  height: 200px;
  display: flex;
  gap: 5px;
}

.arrow{
  height: 30px;
  width: 30px;
  fill: rgb(255, 255, 255);
}

.arrow:hover{
  height: 35px;
}